*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
:root {
    --primary-color:#A1A4A6;
    --secondary-color:#529424;
    --accent1-color:#02360D;
    --accent2-color:#112D3D;
    --heading-font:'merriweather',serif;
    --paragraph-font:'Open Sans', Sans-Serif;
    --nav-background-color:#fbfbfd;
    --nav-link-color:#0c54e6;
    --nav-hover-color:#529444;
    --nav-hover-background-color:#31314b;
}
h1,h2,h3,h4,h5,h6{
    font-family: var(--heading-font);
    color: var(--secondary-color);
}

body{
    font-family: var(--paragraph-font);
    max-width:1200px;
    padding:2px;
}

header{
    background-color:#A1A4A6;
    max-width:  1200px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    
}
p{
    font-family: var(--paragraph-font);
color:#000;
padding:2px;
}

.navigation {
    display:flex;
    justify-items: flex-end;
    list-style:none;
}

.navigation a{
display:flex;
justify-items: flex-end;
color: blue;
font-weight:bold;
padding:30px;
text-decoration: none;



}
a:hover{
    color:var(--nav-hover-color);
}
a:visited{
    text-decoration: none;
}
.hero{
    box-sizing: border-box;
    position:relative;
    max-width: 1200px;
    height: 390px;
    padding: 2.5px;
    margin: 2px;
}

h1{
    
    position:absolute;
    font-size:2rem;
    top:1px;
    right:27%;
    color:rgb(181, 241, 158)
}
article {
    position:absolute;
    width:65%;
    top:80px;
    float: right;

}
article img{
    position:absolute;
    max-width: 200px;
    float:right;
}
div p{
    color: wheat;
   
}
article img{
 
    position:absolute;
    float: right;
    width: 36%;  
}


footer img{
    width: 35px;
    height: auto;
    float: inline-end;
  
}
footer{
    text-align: center;
}