@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
body{
    font-family: var(--paragraph-font);
   /* max-width:960px;*/ 2
    max-width:100%;
    padding:10px;
    background-color: rgba(100, 100, 100, 0.2);
}
:root {
    --primary-color:#A1A4A6;
    --secondary-color:#529424;
    --accent1-color:#02360D;
    --accent2-color:#112D3D;
    --heading-font:'merriweather',serif;
    --paragraph-font:'Open Sans', Sans-Serif;
    --nav-background-color:#fbfbfd;
    --nav-link-color:#0c54e6;
    --nav-hover-color:#529444;
    --nav-hover-background-color:#31314b;
}


h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    color:#529424;

}
header{
    display: grid;
    grid-template-rows:140px;
    padding:2px;
    border:4px;
background-color: rgba(6, 163, 113, 0.7);
position:relative;
}

p{
padding:5px;
}

nav {
   
 font-size: 20px;
position:absolute;
right:0px;
}
nav a {

    color:var(--nav-link-color);
    text-decoration: none;
    padding:1rem;
}
nav a:link, nav a:visited {
    color:var(--nav-link-color);
}

nav a:hover {
    color:var(--nav-hover-color);
    background-color: var(--nav-hover-background-color);
}


.hero{
    position:relative;
}

article{
    position:absolute;
    top:60px;
   background-color: rgba(2, 102, 128, 0.57);
   color:white;
   max-width: 85%;
   left: 15px; 
}


h1{
    position:absolute;
    top:0;
    left: 30%;
    color:white;
    background-color: rgba(13, 14, 14, 0.5);
   
}
.hero img{
    float:right;
padding:7px;
}
footer{
    background-color:#ffffff;
}

/*
    display:flex; this was taken from nav a 
    */