@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Serif:ital,opsz,wght@0,8..144,100..900;1,8..144,100..900&display=swap');
body{
    font-family: var(--paragraph-font);
    max-width:960px;
    padding:20px;
}
:root {
    --primary-color:#A1A4A6;
    --secondary-color:#529424;
    --accent1-color:#02360D;
    --accent2-color:#112D3D;
    --heading-font:'merriweather',serif;
    --paragraph-font:'Open Sans', Sans-Serif;
    --nav-background-color:#fbfbfd;
    --nav-link-color:#0c54e6;
    --nav-hover-color:#529444;
    --nav-hover-background-color:#31314b;
}

body{
    font-family: var(--paragraph-font);
    max-width:960px;
    padding:20px;
}
h1,h2,h3,h4,h5,h6{
    font-family:var(--heading-font);
    color:#529424;
}
header{
    padding:40px;
    background-color:var(--accent2-color);
}

p{
padding:25px;
}

nav {
background-color: var(--nav-background-color);
font-size: 1.2rem;
display: flex;
}
nav a {
    display:block;
    color:var(--nav-link-color);
    text-decoration: none;
    padding:1rem;
}
nav a:link, nav a:visited {
    color:var(--nav-link-color);
}

nav a:hover {
    color:var(--nav-hover-color);
    background-color: var(--nav-hover-background-color);
}
